<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-582136-1694675081/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/OLYMPICS.csv')
df

                     Play  Female  Male  Total
0          3x3 Basketball      32    32     64
1                 Archery      64    64    128
2     Artistic Gymnastics      98    98    196
3       Artistic Swimming     105     0    105
4               Athletics     969  1072   2041
5               Badminton      86    87    173
6       Baseball/Softball      90   144    234
7              Basketball     144   144    288
8        Beach Volleyball      48    48     96
9                  Boxing     102   187    289
10           Canoe Slalom      41    41     82
11           Canoe Sprint     123   126    249
12  Cycling BMX Freestyle      10     9     19
13     Cycling BMX Racing      24    24     48
14  Cycling Mountain Bike      38    38     76
15           Cycling Road      70   131    201
16          Cycling Track      90    99    189
17                 Diving      72    71    143
18             Equestrian      73   125    198
19                Fencing     107   108    215
20               Football     264   344    608
21                   Golf      60    60    120
22               Handball     168   168    336
23                 Hockey     192   192    384
24                   Judo     192   201    393
25                 Karate      40    42     82
26      Marathon Swimming      25    25     50
27      Modern Pentathlon      36    36     72
28    Rhythmic Gymnastics      96     0     96
29                 Rowing     257   265    522
30           Rugby Sevens     146   151    297
31                Sailing     175   175    350
32               Shooting     178   178    356
33          Skateboarding      40    40     80
34         Sport Climbing      20    20     40
35                Surfing      20    20     40
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

In [ ]:
df.tail(10)

                     Play  Female  Male  Total
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

In [ ]:
df.shape

(46, 4)

In [ ]:
df.Female.mean()

118.08695652173913

In [ ]:
df.Male.mode()

0    144
Name: Male, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Play    46 non-null     object
 1   Female  46 non-null     int64
 2   Male    46 non-null     int64
 3   Total   46 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB

In [ ]:
df.describe()

           Female         Male       Total
count   46.000000    46.000000    46.00000
mean   118.086957   127.913043   246.00000
std    147.169717   166.900746   312.46134
min     10.000000     0.000000    19.00000
25%     42.750000    40.250000    85.50000
50%     90.000000    97.500000   190.00000
75%    138.750000   149.750000   288.75000
max    969.000000  1072.000000  2041.00000

In [ ]:
df.loc[4]

Play      Athletics
Female          969
Male           1072
Total          2041
Name: 4, dtype: object

In [ ]:
df.isnull().any()

Play      False
Female    False
Male      False
Total     False
dtype: bool